useDynLib(eSCAN, .registration = TRUE)
exportPattern("^[[:alpha:]]+")
export(eGenerator)
export(eSCAN)
export(fitNull)
export(preprocess)
import(Matrix)
import(Rcpp)
import(RcppArmadillo)
import(survey)
import(CompQuadForm)
importFrom(GENESIS,fitNullModel)
importFrom("methods", "is")
importFrom("stats", "binomial", "dbeta", "glm", "pchisq", "quantile", "var")